.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #535353;
  border-radius: 0.3rem;

}
.jumbotron2 {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #535353;


}
.container{

}

.btn {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 30px;
  line-height: .8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: Black;
  background-color: #feff00;
}
body {
  background: rgb(36,0,0);
  background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 4%, rgba(170,8,8,1) 34%, rgba(23,14,14,1) 59%);
}
#hal9000 {
  height: 300px;
  width: 300px;
}
#kevin{
  background-color: #4286f4;
  border-style: solid;
  border-color: #feff00;
  border-width: 5px;
}
#output{
 font-size: 100px;
}
